/*@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: "Mulish" ,'sans-serif';
}

.navbar
{
	background-color: white;
}

.navbar-brand
{
	font-size :1.9rem;
	color: #565387;
}*/